clientService/web/WEB-INF/wsdl/localhost_19806/saleProjectService/productWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="productWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:19806/saleProjectService/productWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:19806/saleProjectService/productWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="getAllProductByUserID">
<part name="parameters" element="tns:getAllProductByUserID"/>
</message>
<message name="getAllProductByUserIDResponse">
<part name="parameters" element="tns:getAllProductByUserIDResponse"/>
</message>
<message name="getPurchasesCount">
<part name="parameters" element="tns:getPurchasesCount"/>
</message>
<message name="getPurchasesCountResponse">
<part name="parameters" element="tns:getPurchasesCountResponse"/>
</message>
<message name="getSalesProductByUserID">
<part name="parameters" element="tns:getSalesProductByUserID"/>
</message>
<message name="getSalesProductByUserIDResponse">
<part name="parameters" element="tns:getSalesProductByUserIDResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getLikesCount">
<part name="parameters" element="tns:getLikesCount"/>
</message>
<message name="getLikesCountResponse">
<part name="parameters" element="tns:getLikesCountResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<message name="productRetrieve">
<part name="parameters" element="tns:productRetrieve"/>
</message>
<message name="productRetrieveResponse">
<part name="parameters" element="tns:productRetrieveResponse"/>
</message>
<message name="catalogRetrieve">
<part name="parameters" element="tns:catalogRetrieve"/>
</message>
<message name="catalogRetrieveResponse">
<part name="parameters" element="tns:catalogRetrieveResponse"/>
</message>
<message name="ServletException">
<part name="fault" element="tns:ServletException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="purchaseRetrieve">
<part name="parameters" element="tns:purchaseRetrieve"/>
</message>
<message name="purchaseRetrieveResponse">
<part name="parameters" element="tns:purchaseRetrieveResponse"/>
</message>
<message name="addHistory">
<part name="parameters" element="tns:addHistory"/>
</message>
<message name="addHistoryResponse">
<part name="parameters" element="tns:addHistoryResponse"/>
</message>
<message name="showHistory">
<part name="parameters" element="tns:showHistory"/>
</message>
<message name="showHistoryResponse">
<part name="parameters" element="tns:showHistoryResponse"/>
</message>
<message name="likeButton">
<part name="parameters" element="tns:likeButton"/>
</message>
<message name="likeButtonResponse">
<part name="parameters" element="tns:likeButtonResponse"/>
</message>
<message name="unlikeButton">
<part name="parameters" element="tns:unlikeButton"/>
</message>
<message name="unlikeButtonResponse">
<part name="parameters" element="tns:unlikeButtonResponse"/>
</message>
<message name="sumLike">
<part name="parameters" element="tns:sumLike"/>
</message>
<message name="sumLikeResponse">
<part name="parameters" element="tns:sumLikeResponse"/>
</message>
<message name="sumBuy">
<part name="parameters" element="tns:sumBuy"/>
</message>
<message name="sumBuyResponse">
<part name="parameters" element="tns:sumBuyResponse"/>
</message>
<message name="isLike">
<part name="parameters" element="tns:isLike"/>
</message>
<message name="isLikeResponse">
<part name="parameters" element="tns:isLikeResponse"/>
</message>
<portType name="productWebService">
<operation name="getAllProductByUserID">
<input wsam:Action="http://webService/productWebService/getAllProductByUserIDRequest" message="tns:getAllProductByUserID"/>
<output wsam:Action="http://webService/productWebService/getAllProductByUserIDResponse" message="tns:getAllProductByUserIDResponse"/>
</operation>
<operation name="getPurchasesCount">
<input wsam:Action="http://webService/productWebService/getPurchasesCountRequest" message="tns:getPurchasesCount"/>
<output wsam:Action="http://webService/productWebService/getPurchasesCountResponse" message="tns:getPurchasesCountResponse"/>
</operation>
<operation name="getSalesProductByUserID">
<input wsam:Action="http://webService/productWebService/getSalesProductByUserIDRequest" message="tns:getSalesProductByUserID"/>
<output wsam:Action="http://webService/productWebService/getSalesProductByUserIDResponse" message="tns:getSalesProductByUserIDResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webService/productWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webService/productWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getLikesCount">
<input wsam:Action="http://webService/productWebService/getLikesCountRequest" message="tns:getLikesCount"/>
<output wsam:Action="http://webService/productWebService/getLikesCountResponse" message="tns:getLikesCountResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://webService/productWebService/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://webService/productWebService/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://webService/productWebService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://webService/productWebService/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://webService/productWebService/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://webService/productWebService/editProductResponse" message="tns:editProductResponse"/>
</operation>
<operation name="productRetrieve">
<input wsam:Action="http://webService/productWebService/productRetrieveRequest" message="tns:productRetrieve"/>
<output wsam:Action="http://webService/productWebService/productRetrieveResponse" message="tns:productRetrieveResponse"/>
</operation>
<operation name="catalogRetrieve">
<input wsam:Action="http://webService/productWebService/catalogRetrieveRequest" message="tns:catalogRetrieve"/>
<output wsam:Action="http://webService/productWebService/catalogRetrieveResponse" message="tns:catalogRetrieveResponse"/>
<fault message="tns:ServletException" name="ServletException" wsam:Action="http://webService/productWebService/catalogRetrieve/Fault/ServletException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://webService/productWebService/catalogRetrieve/Fault/IOException"/>
</operation>
<operation name="purchaseRetrieve">
<input wsam:Action="http://webService/productWebService/purchaseRetrieveRequest" message="tns:purchaseRetrieve"/>
<output wsam:Action="http://webService/productWebService/purchaseRetrieveResponse" message="tns:purchaseRetrieveResponse"/>
</operation>
<operation name="addHistory">
<input wsam:Action="http://webService/productWebService/addHistoryRequest" message="tns:addHistory"/>
<output wsam:Action="http://webService/productWebService/addHistoryResponse" message="tns:addHistoryResponse"/>
</operation>
<operation name="showHistory">
<input wsam:Action="http://webService/productWebService/showHistoryRequest" message="tns:showHistory"/>
<output wsam:Action="http://webService/productWebService/showHistoryResponse" message="tns:showHistoryResponse"/>
</operation>
<operation name="likeButton">
<input wsam:Action="http://webService/productWebService/likeButtonRequest" message="tns:likeButton"/>
<output wsam:Action="http://webService/productWebService/likeButtonResponse" message="tns:likeButtonResponse"/>
</operation>
<operation name="unlikeButton">
<input wsam:Action="http://webService/productWebService/unlikeButtonRequest" message="tns:unlikeButton"/>
<output wsam:Action="http://webService/productWebService/unlikeButtonResponse" message="tns:unlikeButtonResponse"/>
</operation>
<operation name="sumLike">
<input wsam:Action="http://webService/productWebService/sumLikeRequest" message="tns:sumLike"/>
<output wsam:Action="http://webService/productWebService/sumLikeResponse" message="tns:sumLikeResponse"/>
</operation>
<operation name="sumBuy">
<input wsam:Action="http://webService/productWebService/sumBuyRequest" message="tns:sumBuy"/>
<output wsam:Action="http://webService/productWebService/sumBuyResponse" message="tns:sumBuyResponse"/>
</operation>
<operation name="isLike">
<input wsam:Action="http://webService/productWebService/isLikeRequest" message="tns:isLike"/>
<output wsam:Action="http://webService/productWebService/isLikeResponse" message="tns:isLikeResponse"/>
</operation>
</portType>
<binding name="productWebServicePortBinding" type="tns:productWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllProductByUserID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPurchasesCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSalesProductByUserID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLikesCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="productRetrieve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="catalogRetrieve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServletException">
<soap:fault name="ServletException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
<operation name="purchaseRetrieve">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showHistory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="likeButton">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="unlikeButton">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumBuy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="productWebService">
<port name="productWebServicePort" binding="tns:productWebServicePortBinding">
<soap:address location="http://localhost:19806/saleProjectService/productWebService"/>
</port>
</service>
</definitions>